.navbar {
    background-color: rgb(218, 213, 213);
    color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navbar li {
    display: inline-block;
    padding: 10px 30px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

.banner {
    background-color: rgb(36, 5, 5);
    text-align: center;
    padding: 150px 0;
    margin-top: 50px;
    color: rgb(218, 213, 213);
    
}

.sign-info{
    padding: 60px;
}


.sign-info li{
    text-decoration: none;
    display: inline-table;
    padding: 15px 45px;

}

.sign-info li span{
    font-weight: bold;
    font-size: medium;
}


.titles{
    padding-left: 30px;
    font-weight: bold;
}

.number-info {
    padding-right: 160px;
    padding-left: 40px;
}

#numerology {
    height: 500px;
    width: 500px;
}

#color-chart{
    height: 500px;
    width: 500px;
}

#image-sections{
    display: flex;
    padding: 80px;
}
